<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"  href="/" id="imgLogo">
        <img src="/img/pngwing.com.png"> Home
    </a>
    <a class="navbar-brand" href="/perguntar">Fazer Pergunta</a>
</nav>